<div class="ui container">
  <div class="pillow"></div>
  <h2 class="ui header">
    <i class="tag icon"></i>
    <div class="content">
      Single Table Example
    </div>
  </h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet corporis esse inventore maiores pariatur! Ad cupiditate dolorum quasi quis suscipit! Itaque nihil qui reprehenderit sapiente temporibus! Aspernatur fugit perspiciatis tempora!</p>

  <table class="ui selectable celled table">
    <thead>
    <tr>
      <th>Character Name</th>
      <th>Birth Year</th>
      <th>Gender</th>
      <th>Mass</th>
      <th>Height</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor='let person of people'>
      <td>{{ person.name }}</td>
      <td>{{ person.birth_year }}</td>
      <td>{{ person.gender }}</td>
      <td>{{ person.mass }}</td>
      <td>{{ person.height }}</td>
    </tr>
    </tbody>
  </table>

  <div class="pillow"></div>
</div>
