<div class="ui container">
  <div class="pillow"></div>
  <h2 class="ui header">
    <i class="tag icon"></i>
    <div class="content">
      Second Page
    </div>
  </h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet corporis esse inventore maiores pariatur! Ad cupiditate dolorum quasi quis suscipit! Itaque nihil qui reprehenderit sapiente temporibus! Aspernatur fugit perspiciatis tempora!</p>

  <h3 class="ui header">
    <i class="signal icon"></i>
    <div class="content">
      Circle Stats Examples
    </div>
  </h3>

  <div class="ui doubling four column grid">
    <div class="column">
      <div class="stat">
        <div class="diagram info">455</div>
        <div class="label">Info data</div>
      </div>
    </div>
    <div class="column">
      <div class="stat">
        <div class="diagram">-5%</div>
        <div class="label">Regular Data</div>
      </div>
    </div>
    <div class="column">
      <div class="stat">
        <div class="diagram danger">-103</div>
        <div class="label">Danger Data</div>
      </div>
    </div>
    <div class="column">
      <div class="stat">
        <div class="diagram success">+1328</div>
        <div class="label">Success Data</div>
      </div>
    </div>
  </div>

  <div *ngIf="planets">
    <h3 class="ui header pdt-1">
      <i class="bullseye icon"></i>
      <div class="content">
        First table example
      </div>
    </h3>


    <table class="ui selectable celled table">
      <thead class="screen-only">
      <tr>
        <th>#.</th>
        <th>Planet Name</th>
        <th>Rotation Period</th>
        <th>Orbital Period</th>
        <th>Climate</th>
        <th>Population</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor='let planet of planets; let i=index;'>
        <td><b class="mobile-only-inline">#:</b> {{ i+1 }}</td>
        <td><b class="mobile-only-inline">Planet Name:</b> {{ planet.name }}</td>
        <td><b class="mobile-only-inline">Rotation period:</b> {{ planet.rotation_period }}</td>
        <td><b class="mobile-only-inline">Orbital period:</b> {{ planet.orbital_period }}</td>
        <td><b class="mobile-only-inline">Climate:</b> {{ planet.climate }}</td>
        <td><b class="mobile-only-inline">Population:</b> {{ planet.population }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- starships -->
  <div *ngIf="starships">
    <h3 class="ui header pdt-1">
      <i class="bomb icon"></i>
      <div class="content">
        Second Table Example
      </div>
    </h3>

    <table class="ui selectable celled table">
      <thead class="screen-only">
        <tr>
          <th>#.</th>
          <th>Starship Name</th>
          <th>Model</th>
          <th>Manufacturer</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor='let starship of starships; let i=index;'>
        <td><b class="mobile-only-inline">#:</b> {{ i+1 }}</td>
        <td><b class="mobile-only-inline">Starship name:</b> {{ starship.name }}</td>
        <td><b class="mobile-only-inline">Model:</b> {{ starship.model }}</td>
        <td><b class="mobile-only-inline">Manufacturer:</b> {{ starship.manufacturer }}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="pillow"></div>
</div>
