.pillow {
  height: 3em;
}

.stat {
  padding: .5em;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.label {
  padding: .5em 0;
  width: 100%;
}

.diagram {
  width: 8em;
  height: 8em;
  border-radius: 50%;
  background: #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1em;
  font-weight: 600;
}

@media all and (max-width: 480px) {
  .diagram {
    width: 6em;
    height: 6em;
  }
}

.success {
  background-color: #21ba45;
  color: #fff;
}

.info {
  background-color: #2185D0;
  color: #fff;
}

.danger {
  background-color: #DB2828;
  color: #fff;
}

.pdt-1 {
  padding-top: 1em;
}


.mobile-only {
  display: none;
}

.mobile-only-inline {
  display: none;
}

.screen-only-inline {
  display: inline-block;
}

@media all and (max-width: 768px) {
  .mobile-only {
    display: inline-block !important;
  }
}

@media all and (max-width: 768px) {
  .mobile-only-inline {
    display: inline-block !important;
  }
}

@media all and (max-width: 768px) {
  .screen-only {
    display: none !important;
  }
}
