<style>.brand {
  padding: 1em;
}

.pusher {
  min-height: 95%;
}

.mobile-toggler {
  padding: .5em;
}

.mobile-only {
  display: none;
}

.screen-only {
  display: block;
}

@media all and (max-width: 768px) {
  .mobile-only {
    display: block !important;
  }
}
@media all and (max-width: 768px) {
  .screen-only {
    display: none !important;
  }
}
</style>

<div class="ui fixed inverted menu">
  <div class="ui container">

    <i class="block layout icon large inverted mobile-toggler mobile-only" (click)="toggleMenu()"></i>

    <a [routerLink]="['/']" class="header item">
      <i class="hand spock icon"></i>
      ng-Dashboard
    </a>

      <a [routerLink]="['/page1']" class="item screen-only">Page 1</a>
      <a [routerLink]="['/page2']" class="item screen-only">Page 2</a>
      <div class="ui simple dropdown item screen-only">
        Same menu dropdown
        <i class="dropdown icon"></i>
        <div class="menu screen-only">
          <a class="item" [routerLink]="['/page1']">Page 1</a>
          <a class="item" [routerLink]="['/page2']">Page 2</a>
        </div>
      </div>

      <div class="right menu screen-only">
        <div class="item">
          <div class="ui transparent inverted icon input">
            <i class="search icon"></i>
            <input type="text" placeholder="Search">
          </div>
        </div>
        <a class="item">Sign in</a>
      </div>

  </div>
</div>



<!-- main content -->
<main class="pusher">
	<router-outlet></router-outlet>
</main>


<!-- footer -->
<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui horizontal inverted small divided link list">
      <a class="item" href="#">link 1</a>
      <a class="item" href="#">link 2</a>
      <a class="item" href="#">link 3</a>
      <a class="item" href="#">link 4</a>
    </div>
  </div>
</div>


<!-- sidebar offcanvas -->
<div class="ui sidebar inverted vertical menu">
  <div class="brand">
    <h4 class="ui header inverted">
      <i class="hand spok icon"></i>
      <div class="content">
        ng-Dashboard
      </div>
    </h4>
  </div>
  <a [routerLink]="['/']" class="item">Home</a>
  <a [routerLink]="['/page1']" class="item">Page 1</a>
  <a [routerLink]="['/page2']"class="item">Page 2</a>
</div>
