<div class="ui container">
  <div class="pillow"></div>

  <h3>Home Component</h3>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam, asperiores debitis dolorum id nulla
    perspiciatis quam quia quis soluta, ut voluptas? Cupiditate iusto nesciunt nihil possimus quam qui quidem?
  </p>
  <p>Ad ducimus ea expedita id nam, perspiciatis possimus? A accusamus ad asperiores aspernatur corporis deleniti ea et
    facere, modi mollitia obcaecati odio officiis provident, quae quis repellat rerum saepe unde?
  </p>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aperiam, asperiores debitis dolorum id nulla
    perspiciatis quam quia quis soluta, ut voluptas? Cupiditate iusto nesciunt nihil possimus quam qui quidem?
  </p>
  <p>Ad ducimus ea expedita id nam, perspiciatis possimus? A accusamus ad asperiores aspernatur corporis deleniti ea et
    facere, modi mollitia obcaecati odio officiis provident, quae quis repellat rerum saepe unde?
  </p>

</div>
